@use "~ag-grid-community/styles" as ag;
// ^^^ Update the import path. Note that `@import` has changed to `@use {path} as {name}`
@include ag.grid-styles(( // ^^^ Include ag.grid-styles which it is no longer nested  in .ag-theme-{name} {}
        theme: material,
    ));

.ag-theme-material {

    // Nest rules in .ag-theme-alpine so that the selectors include the theme name.
    // Without the theme name, your styles will not override the theme's built-in
    // styles due to CSS selector specificity rules.
    --ag-background-color: transparent;
    --ag-header-background-color: #EDEDED;
    --ag-header-cell-hover-background-color: #D2E1EE;

    .ag-header,
    .ag-header-container,
    .ag-header-row {
        @apply rounded-t-lg
    }

    .ag-header-cell {
        font-size: 1.1em;
        font-weight: 600;

        &:hover {
            color: white
        }
    }

    .ag-paging-panel {
        @apply rounded-b-lg
    }
}

// ^^^ put any custom CSS rules below the grid-styles mixin, wrapped in the theme class